doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject

    include _style
  body
    table.body(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td
          td.container
            .content
              // START CENTERED WHITE CONTAINER
              table.main(role='presentation')
                tbody
                  // START HEADER
                  tr
                    td.wrapper
                      table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                          tr
                            td
                              //- Global header with logo image
                              .header
                                img(src=("https://api.hezmart.com/img/logo.PNG"), alt='Logo', style='width:100px; height:auto; display:block; margin: 0 auto;')
                

                // START MAIN AREA
                tbody
                  tr
                    td.wrapper
                      table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                          tr
                            td.email_content
                              // CONTENT
                              block content

              // START FOOTER
              .footer
                table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                  tbody
                    // APP DOWNLOAD CTA SECTION
                    tr
                      td.app-download
                        p.app-title Download the Hezmart APP now!
                        .app-badges
                          .app-badge
                            a(href='https://apps.apple.com/app/hezmart/id6751547294', target='_blank')
                              img(src='https://developer.apple.com/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg', alt='Download on the App Store')
                          .app-badge
                            a(href='https://play.google.com/store/apps/details?id=com.hezmart.shoppingapp', target='_blank')
                              img(src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png', alt='GET IT ON Google Play')
                    
                    // ORIGINAL FOOTER CONTENT
                    tr
                      td.content-block
                        span.apple-link Hezmart. 189 Ugwuaji Road, Maryland, Enugu
                        br
                        |  Don't like these emails? 
                        a(href='#') Unsubscribe
          //- td